@model Veterinaria.Models.venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_venta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
