@model IEnumerable<Veterinaria.Models.venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_venta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_venta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_venta })
        </td>
    </tr>
}

</table>
